body {
  /* padding: 0 10px; */
  background-image: linear-gradient(#6b6b6b, #5dcdde);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.full-height {
  height: 100vh;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  min-width: 100px;
}
.y-scroll {
  overflow-y: auto;
  height: 100vh;
}

.cell {
  margin: 5px 10px;
  min-width: 500px;
  max-width: 600px;
  display: inline-block;
}

.subjects {
  padding-right: 0;
  min-width: 300px;
}

.data-column {
  display: flex;
}

.side-bar {
  height: 100%;
  display: inline-block;
}

.rotate-title-90 {
  -webkit-transform: rotate(-90deg);
  margin-top: 400px;
  text-align: center;
}

/* Side tab */

.side-tab {
  min-height: 130px;
  max-width: 33px;
  margin: 142px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
  /* border: solid rgba(255, 255, 255, 0.6); */
  position: absolute;
  position: -webkit-sticky;
}

.rotate-label-90 {
  -webkit-transform: rotate(-90deg);
  margin-top: 50px;
  vertical-align: middle;
  text-align: center;
}

.image-cropper {
  object-fit: cover;
  border-radius: 50%;
  height: 400px;
  width: auto;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  /* border: 5px solid #ffff00; */
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  .cell {
    margin: 0;
    min-width: 340px;
    max-width: 400px;
    display: inline-block;
  }

  .subjects {
    padding-right: 0;
    /* display: none; */
    min-width: 300px;
  }

  .side-bar {
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
