body {
  background-image: linear-gradient(#6b6b6b, #5dcdde);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
}

.full-height {
  height: 100vh;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  min-width: 100px;
}
.y-scroll {
  overflow-y: auto;
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.required {
  color: red;
  font-weight: bold;
}

.cell {
  margin: 5px 10px;
  min-width: 500px;
  max-width: 600px;
  display: inline-block;
}

.subjects {
  padding-right: 0;
  min-width: 300px;
}

.data-column {
  display: flex;
}

/* Side bar */
.folding-bar {
  height: 100%;
  display: inline-block;
}

.total-items-folding-bar {
  display: inline-flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  height: 50px;
  min-width: 50px;
  padding: 0 8px;
  background-color: rgb(22, 22, 22);
}

.rotate-title-90 {
  -webkit-transform: rotate(90deg);
  margin-top: 80px;
  text-align: center;
}

/* folding bar big icons */
.folding-bar-big-icon {
  cursor: pointer;
  height: 100px;
  width: 100px;
}

/* folding bar medium icons */
.folding-bar-medium-icon {
  cursor: pointer;
  height: 90px;
  width: 90px;
}

/* folding bar small icons */
.folding-bar-small-icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

/* Side tab */

.side-tab {
  padding: 0 2px 0 0;
  background-color: #e8e8e8;
  margin: 0;
  max-width: 34px;
  max-height: 130px;
  border: #212529 3px solid;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  cursor: pointer;
}

.rotate-label-90 {
  -webkit-transform: rotate(-90deg);
  margin-top: 50px;
  vertical-align: middle;
  text-align: center;
}

.image-cropper {
  object-fit: cover;
  border-radius: 50%;
  height: 400px;
  width: auto;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  /* border: 5px solid #ffff00; */
  padding: 10px;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* border: 3px solid green; */
}

/* vetical nav bar icon style */
.v-bar-icon {
  cursor: pointer;
  height: 33px;
  width: 33px;
}

.to-top-icon {
  border-radius: 10px;
  height: 56px;
  min-width: 56px;
  padding: 4px;
  background-color: rgb(245, 245, 245);
}

/* @media only screen and (max-width: 500px) {
  .cell {
    margin: 0;
    min-width: 340px;
    max-width: 400px;
    display: inline-block;
  }

  .subjects {
    padding-right: 0;
    display: none;
    min-width: 300px;
  }

  .folding-bar {
    height: 100%;
  }
} */

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

:root {
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
}

.pin-container {
  margin: 0;
  padding: 0;
  /* width: 50%; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px; /*set to a negative number 1/2 of your height*/
  margin-left: -15vw; /*set to a negative number 1/2 of your width*/
  z-index: 1500;
  /* border: red solid 5px; */
}
