:root {
  --color1: #e2e0d7;
  /* --color1: #dfdbd0; */
  --color2: #cbc5b4;
  --color3: #dddddd;

  --white1: #fdfdfd;
  --bright1: #2870dc;
  /* --dark1: #868576; */
  /* --dark1: #3d381d; */
  --dark1: #34311f;
  --dark2: #3b3b3b;
}

body {
  /* background-image: linear-gradient(#6b6b6b, #5dcdde); */
  background-color: var(--color3) !important;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100%;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  min-width: 100px;
}

.y-scroll {
  overflow-y: auto;
  height: 100vh;
}

.data-column {
  display: flex;
  z-index: 1000 !important;
}

.data-column-content {
  margin: 5px 5px 5px 10px;
  min-width: 500px;
  max-width: 600px;
  display: inline-block;
  height: 90vh;
}

.vertical-folding-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 140px;
  height: 100%;
  cursor: pointer;
  background-color: var(--color1);
  border-radius: 10px;
  margin: 0 5px;
  padding: 10px 5px;
  border: 2px solid var(--white1);
  z-index: 1000 !important;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.vertical-folding-bar h2 {
  position: absolute;
  width: 200px;
  transform: rotate(90deg);
  top: 380px;
}
.vertical-folding-bar .folding-bar-big-icon {
  cursor: pointer;
  height: 100px;
  width: 100px;
}
.vertical-folding-bar .folding-bar-small-icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
.vertical-folding-bar .folding-bar-items-count {
  display: inline-flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  height: 50px;
  min-width: 50px;
  padding: 0 8px;
  background-color: var(--dark1);
}

.unfold {
  min-width: 50px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.closing-frame {
  min-width: 45px;
  background-color: var(--dark1);
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--white1);
}

@media screen and (max-width: 480px) {
  .vertical-folding-bar {
    display: none;
  }

  .data-column-content {
    min-width: 84vw;
  }
}
.pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.app-header {
  background-color: var(--color1);
  border-radius: 0.25rem 0.25rem 0 0;
  border: 2px solid var(--white1);
  /* border-bottom: none; */
  padding: 13px;
  /* z-index: -1; */
  margin-right: 5px;
  /* box-shadow: 6px 0 2px -2px rgb(0 0 0 / 30%); */
  /* box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 50%); */
}

.sort-header {
  position: relative;
  background-color: var(--color1);
  border-bottom: 2px solid var(--white1);
  border-left: 2px solid var(--white1);
  border-right: 2px solid var(--white1);
  border-radius: 0 0 0.25rem 0.25rem;
  font-weight: bold;
  padding: 0 3px 10px 3px;
  margin-bottom: 15px;
  /* box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 50%); */
  margin-right: 5px;
  transform: translateY(-4px);
  z-index: 10;
  height: 44px;
}

::-webkit-scrollbar {
  width: 18px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-left: solid 10px var(--color3);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-left: solid 10px var(--color3);
}

.sticky-top {
  z-index: 10 !important;
}

.subject-card {
  background-color: var(--color1) !important;
  border: 2px solid var(--white1) !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: var(--white1) !important;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-weight: 'normal';
  padding: 4px;
}

nav.bg-dark,
div.bg-dark {
  background-color: var(--dark1) !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--white1);
}

nav.bg-dark {
  border: none;
  border-bottom: 2px solid var(--white1);
}

.card {
  border: 2px solid var(--white1) !important;
}

.subjects .card {
  margin-right: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--bright1) !important;
}
.card.text-white.bg-dark .CircularProgressbar .CircularProgressbar-text {
  fill: white !important;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: var(--bright1) !important;
}

.navbar-brand {
  letter-spacing: 1.2px;
  font-size: 1.2em !important;
}

.navbar-timer {
  position: relative;
  padding: 0.265rem 0.75rem;
  font-family: Lucida Sans;
  width: 100%;
  height: 34px;
}

.navbar-timer > * {
  transform: translateY(-2px);
}

.navbar-timer::after {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 18%;
  left: 1.5%;
  height: 65%;
  width: 97%;
  padding: 4px;
}

/* charts styles */
#svg-year-bar text {
  font-size: 1.1em;
}

#svg-year-bar .y-label {
  font-size: 1.8em;
  transform: translate(15px, 5px);
}

#svg-year-pie tspan {
  font-size: 1.5em;
  fill: white !important;
}
